@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3fff4;
}

.linear-green-bg {
  background: #048853;
  background: linear-gradient(
    135deg,
    rgba(4, 136, 83, 1) 0%,
    rgba(0, 0, 0, 0.84) 100%
  );
}

.linear-green-bg-2 {
  background: #00985b;
  background: linear-gradient(
    135deg,
    rgba(0, 152, 91, 1) 0%,
    rgba(0, 152, 91, 1) 51%,
    rgba(0, 0, 0, 1) 100%
  );
}
